body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, Lucida Sans Unicode;
	background-color: #F8F8FF;
}


.cabecalho {
	height: 160px;
	padding: 20px;
	background-color: #00FF00;
}

.cabecalho h3 {
	color: #FFFFFF;
	font-size: 27px;
}

.formulario-corpo {
	background-color: #FFFFFF;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -62px;
	padding: 20px;
	border: 2px solid #7CFC00;
	border-radius: 5px;
}

.caixa-entrada {
	margin-bottom: 30px;
}


.entrada {
	display: block;
	border-bottom: 2px solid #7CFC00;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 60%;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 15px;
}

.caixa-selecao {
	width: 65%;
	padding: 10px 20px;
	display: block;
	margin-top: 15px;
	border-bottom: 2px solid #7CFC00;
	border-left: none;
	border-right: none;
	border-top: none;
}

.caixa-passatempo {
	display: inline-block;
}

.lista-passatempos  {
	list-style-type: none;
}

.botao {
	width: 30%;
	padding: 15px 25px;
	background-color: #00FF00;
	border: none;
	color: #FFFFFF;
	font-size: 20px;
	cursor: pointer;
	transition: 1s;
}

.botao:hover {
	background-color: #FFFFFF;
	color: #00FF00;
	border: 1px solid #00FF00;
}
